html,
body {
  height: 100%;
}

body {
  font-family: outfit, sans-serif;
  background-color: hsl(212, 45%, 89%);
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 288px;
  border-radius: 20px;
  margin-bottom: 24px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 16px;
  margin-top: 0;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: hsl(216, 15%, 48%);
  margin: 0;
}

#card {
  background-color: white;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  width: 320px;
  height: 499px;
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#text {
  box-sizing: border-box;
  text-align: center;
  width: 288px;
  height: 131px;
  padding: 0 16px;
}

.attribution {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
