html,
body {
  height: 100%;
}

body {
  font-family: outfit, sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

img {
  max-width: 288px;
  border-radius: 20px;
}

#card {
  background-color: white;
  border-radius: 20px;
  padding-top: 16px;
  width: 320px;
  height: 483px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  color: hsl(218, 44%, 22%);
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: hsl(216, 15%, 48%);
  margin: 0;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 288px;
  height: 131px;
  gap: 16px;
}
